*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;

}

body{
    background-color: #d142007e;

}

header{
    padding-top:8% ;
    top: 0%;
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: rgb(46, 2, 27);
    -webkit-transition: background-color .5s;
}

svg{
    margin-top: 20%;
    width: 70%;
    height: auto;
    margin-left: 15%;
    transition: filter 2s;
}

svg:hover{
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
}

input{
    box-sizing: border-box;
    margin-top: 1%;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.226);
    border: none;
    text-align: center;
    transition: border 1s;
    outline: none;
    display: block;
}

input::-webkit-inner-spin-button, 
input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


input:hover{
    border-bottom: solid 1px white;
    transition: border 1s;
}

button{
    margin-top: 3%;
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.699);
    border: solid 1px rgba(0, 0, 0, 0.493);
    outline: none;
    transition: border .5s;
    color: white;
    cursor: pointer;
}

button:hover{
    border: solid 1px rgba(255, 255, 255, 0.493);
    transition: border .5s;
}

.div1{
    border-radius: 5px;
    margin-top: 14%;
    width: 35%;
    margin-left: 45%;
    background-color: rgba(255, 255, 255, 0.137);
}

.div2{
    display: none;
    margin-left: 25%;
    width: 75%;
    height: 10%;
}

h1{
    text-align: center;
}

img{
    width: 250px;
}

ul{
    margin-top: 20px;
    list-style-type: none;
}

li{
    list-style-type: none;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.selects{
    margin-bottom: 5px;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.226);
}

#date{
    height: 35px;
}

#shows{
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.13);
    display: inline-block;
    border: solid 1px rgba(0, 0, 0, 0.281);
}